name: Auto Label PR
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
    - id: label-the-PR
      uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
