services:
  rocprofiler-compute-<username>: # service name
    build:
      context: ../../../
      dockerfile: projects/rocprofiler-compute/docker/Dockerfile.customrocmtest
    image: rocprofiler-compute-<username>
    # Uncomment for environments using ROCR_VISIBLE_DEVICES env. var. to forward it to container
    # environment:
    #   ROCR_VISIBLE_DEVICES: ${ROCR_VISIBLE_DEVICES}
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    volumes:
      - ../../../:/app
    ports:
      - 8050:8050
    tty: true
    stdin_open: true
