services:
  standalone:
    build:
      context: ../../../
      dockerfile: projects/rocprofiler-compute/docker/Dockerfile.standalone
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    volumes:
      - ../../../:/app
